<!-- Main content -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a target="_blank" href="https://www.google.com.br/">
                <img class="d-block w-100" src="dist/img/homeSlide/we-have-an-idea-flat-concept-illustration.svg" alt="0">
            </a>
        </div>

        <div class="carousel-item">
            <a target="_blank" href="http://www.google.com.br/">
                <img class="d-block w-100" src="dist/img/homeSlide/walking-man-flat-concept-illustration.svg" alt="1">
            </a>
        </div>

        <div class="carousel-item">
            <a target="_blank" href="http://www.google.com.br/">
                <img class="d-block w-100" src="dist/img/homeSlide/teamwork-flat-concept-illustration.svg" alt="1">
            </a>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-custom-icon" aria-hidden="true">
        <i class="fas fa-chevron-left"></i>
        </span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-custom-icon" aria-hidden="true">
        <i class="fas fa-chevron-right"></i>
        </span>
        <span class="sr-only">Next</span>
    </a>
</div>