<div class="float-right d-none d-sm-block">
  <b>Version</b> 1.0.0
</div>
<strong>Copyright &copy; 2023
  <a style="color: #0044ffc9; font-weight: 600;" href="mailto:mgsouza@brq.com">BRQ Digital Solutions</a>.
</strong> All rights reserved.